@import "tailwindcss";

@theme {
  --color-light: #fff;
  --color-dark: #292725;
  --color-primary: #f3f3ee;
  --color-secondary: #e4eaea;
  --color-neutral: #444;
  --color-neutral-light: #9b9894;
  --color-highlight: khaki;
  --color-highlight-intense: #ff6c65;

  --spacing-1: 2px;
  --spacing-2: 8px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 32px;
  --spacing-6: 48px;
  --spacing-7: 64px;
  --spacing-8: 80px;
  --spacing-9: 96px;
  --spacing-10: 112px;

  --text-xs: 0.9rem;
  --text-sm: 1rem;
  --text-md: 1.3rem;
  --text-lg: 1.8rem;
  --text-xl: 3rem;
  --text-2xl: 3.5rem;

  --text-xs--line-height: 0.9rem;
  --text-sm--line-height: 1.4rem;
  --text-md--line-height: 1.7rem;
  --text-lg--line-height: 2.2rem;
  --text-xl--line-height: 3.6rem;
  --text-2xl--line-height: 4rem;
}


body {
  color: var(--color-neutral);
  font-size: 1.3rem;
  font-weight: 250;
}

#root {
  margin: 0 auto;
}

li, p {
  margin-bottom: 0.5rem;
}

b {
  font-weight: bold;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
